In [1]:
# Install quiet
!pip install -q seaborn scikit-learn kaggle

In [2]:
import os
from zipfile import ZipFile

In [2]:
# descarga normal, porque con este comando no lo pude hacer.
# Download 
# https://github.com/Kaggle/kaggle-api
#kaggle competitions download -c mlunlp-2024-ps-2

SyntaxError: invalid syntax (1623299133.py, line 1)

In [9]:
# Librerías básicas para manipulación y análisis de datos
import pandas as pd
import numpy as np

# Librerías para visualización
import matplotlib.pyplot as plt
import seaborn as sns

# Librerías para preprocesamiento y evaluación
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix, mean_squared_error

# Modelos (regresión y clasificación)
from sklearn.linear_model import LinearRegression, ElasticNet, LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier

# Otras utilidades
import warnings
warnings.filterwarnings("ignore")

In [15]:
# path relativo de la carpeta "stores"
store_path = os.path.join("stores")
# Ruta relativa al archivo ZIP
zip_path = os.path.join("stores", "mlunlp-2024-ps-2.zip")

In [4]:
# Directorio de destino (misma carpeta donde está el archivo ZIP)
extract_dir = os.path.dirname(zip_path)

# Verificar que el archivo ZIP existe
if not os.path.exists(zip_path):
    raise FileNotFoundError(f"El archivo {zip_path} no se encontró.")

# Descomprimir el archivo
with ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_dir)

print(f"Archivo descomprimido en: {extract_dir}")

Archivo descomprimido en: stores

In [16]:
# Crear paths para cada archivo CSV
sample_submission_path = os.path.join(store_path, "sample_submission.csv")
train_hogares_path = os.path.join(store_path, "train_hogares.csv")
train_personas_path = os.path.join(store_path, "train_personas.csv")
test_hogares_path = os.path.join(store_path, "test_hogares.csv")
test_personas_path = os.path.join(store_path, "test_personas.csv")

In [17]:
# Leer los archivos CSV
sample_submission = pd.read_csv(sample_submission_path)
train_hogares = pd.read_csv(train_hogares_path)
train_personas = pd.read_csv(train_personas_path)
test_hogares = pd.read_csv(test_hogares_path)
test_personas = pd.read_csv(test_personas_path)
"""
# Verificar las primeras filas de cada DataFrame
print("Sample Submission:")
print(sample_submission.head())

print("\nTrain Hogares:")
print(train_hogares.head())

print("\nTrain Personas:")
print(train_personas.head())

print("\nTest Hogares:")
print(test_hogares.head())

print("\nTest Personas:")
print(test_personas.head())
"""

Sample Submission:
                         id  pobre
0  2a7ddc2779480d7f19834953      0
1  a0c2e751e582fd49d564f308      0
2  57273d19e8464a5ff66a582b      1
3  418d052ff7878940ab938601      0
4  212a37fc17016a3c78f76852      1

Train Hogares:
                         id  Clase   Dominio  P5000  P5010  P5090  P5100  \
0  8d0193e328305a042001a35f      1  MEDELLIN      4      2      1    NaN
1  cf7491d7f2cc9c216bd009e7      1  MEDELLIN      5      4      3    NaN
2  d90a57f64d2a84dbacbed2a5      1  MEDELLIN      4      2      1    NaN
3  db34e387a94a783188ab3a33      1  MEDELLIN      3      1      1    NaN
4  97bbef785824746ecab09c6f      1  MEDELLIN      4      3      3    NaN

      P5130     P5140  Nper  ...       Ingpcug             Li            Lp  \
0  400000.0       NaN     5  ...  5.816661e+05  122809.534158  289878.24715
1       NaN  250000.0     4  ...  1.612500e+05  122809.534158  289878.24715
2  700000.0       NaN     3  ...  2.000000e+06  122809.534158  289878.24715
3  450000.0       NaN     1  ...  2.450000e+06  122809.534158  289878.24715
4       NaN  500000.0     5  ...  2.520000e+05  122809.534158  289878.24715

   Pobre  Indigente  Npobres  Nindigentes       Fex_c  Depto    Fex_dpto
0      0          0        0            0  127.222038      5  146.251790
1      1          0        4            0  115.866093      5   93.080952
2      0          0        0            0  100.123276      5   89.637086
3      0          0        0            0  108.829812      5   95.584376
4      1          0        5            0  110.412859      5  124.560515

[5 rows x 23 columns]

Train Personas:
                         id  Orden  Clase   Dominio  Estrato1  P6020  P6040  \
0  8d0193e328305a042001a35f      2      1  MEDELLIN         2      2     38
1  8d0193e328305a042001a35f      5      1  MEDELLIN         2      1      3
2  8d0193e328305a042001a35f      1      1  MEDELLIN         2      1     41
3  8d0193e328305a042001a35f      4      1  MEDELLIN         2      1      3
4  8d0193e328305a042001a35f      3      1  MEDELLIN         2      1     11

   P6050  P6090  P6100  ...  Iof2es  Iof3hes  Iof3ies  Iof6es      Ingtotob  \
0      2    1.0    1.0  ...     NaN      NaN      NaN     NaN  1.109190e+06
1      3    NaN    NaN  ...     NaN      NaN      NaN     NaN           NaN
2      1    1.0    1.0  ...     NaN      NaN      NaN     NaN  1.399140e+06
3      3    NaN    NaN  ...     NaN      NaN      NaN     NaN           NaN
4      3    NaN    NaN  ...     NaN      NaN      NaN     NaN           NaN

   Ingtotes        Ingtot       Fex_c  Depto   Fex_dpto
0       NaN  1.109190e+06  127.222038      5  146.25179
1       NaN           NaN  127.222038      5  146.25179
2       NaN  1.399140e+06  127.222038      5  146.25179
3       NaN           NaN  127.222038      5  146.25179
4       NaN           NaN  127.222038      5  146.25179

[5 rows x 135 columns]

Test Hogares:
                         id  Clase      Dominio  P5000  P5010  P5090  \
0  2a7ddc2779480d7f19834953      1  SANTA MARTA      4      3      1
1  a0c2e751e582fd49d564f308      1  SANTA MARTA      4      3      4
2  57273d19e8464a5ff66a582b      2        RURAL      3      1      1
3  418d052ff7878940ab938601      1     MEDELLIN      4      3      1
4  212a37fc17016a3c78f76852      1     MEDELLIN      5      2      2

       P5100      P5130  P5140  Nper  Npersug             Li             Lp  \
0        NaN   400000.0    NaN     5        5  121449.452925  275594.029448
1        NaN   500000.0    NaN     6        6  121449.452925  275594.029448
2        NaN   250000.0    NaN     2        2  100763.337626  170886.447382
3        NaN   600000.0    NaN     5        5  122251.781628  294093.665341
4  1800000.0  2000000.0    NaN     2        2  123664.359813  293293.411227

       Fex_c  Depto   Fex_dpto
0   7.826095     47   7.528079
1  15.002708     47  15.327736
2  45.701877     17  50.394748
3  70.318877      5  80.725068
4  91.241328      5  95.116936

Test Personas:
                         id  Orden  Clase   Dominio  P6020  P6040  P6050  \
0  3279230a4917cdf883df34cd      1      1  MEDELLIN      1     33      1
1  3279230a4917cdf883df34cd      3      1  MEDELLIN      2      7      3
2  3279230a4917cdf883df34cd      2      1  MEDELLIN      2     37      2
3  3279230a4917cdf883df34cd      4      1  MEDELLIN      1      5      3
4  01bd1f72445acc719d19bd25      1      1  MEDELLIN      1     27      1

   P6090  P6100  P6210  ...  P7510s5  P7510s6  P7510s7  Pet   Oc  Des  Ina  \
0    1.0    1.0    6.0  ...      NaN      NaN      NaN  1.0  1.0  NaN  NaN
1    NaN    NaN    3.0  ...      NaN      NaN      NaN  NaN  NaN  NaN  NaN
2    1.0    1.0    6.0  ...      NaN      NaN      NaN  1.0  1.0  NaN  NaN
3    NaN    NaN    2.0  ...      NaN      NaN      NaN  NaN  NaN  NaN  NaN
4    1.0    1.0    5.0  ...      NaN      NaN      NaN  1.0  1.0  NaN  NaN

        Fex_c  Depto    Fex_dpto
0  125.720226      5  126.041802
1  125.720226      5  126.041802
2  125.720226      5  126.041802
3  125.720226      5  126.041802
4   73.359246      5   64.143748

[5 rows x 63 columns]

In [18]:
train_hogares.head()

,id,Clase,Dominio,P5000,P5010,P5090,P5100,P5130,P5140,Nper,...,Ingpcug,Li,Lp,Pobre,Indigente,Npobres,Nindigentes,Fex_c,Depto,Fex_dpto
0,8d0193e328305a042001a35f,1,MEDELLIN,4,2,1,NaN,400000.0,NaN,5,...,5.816661e+05,122809.534158,289878.24715,0,0,0,0,127.222038,5,146.251790
1,cf7491d7f2cc9c216bd009e7,1,MEDELLIN,5,4,3,NaN,NaN,250000.0,4,...,1.612500e+05,122809.534158,289878.24715,1,0,4,0,115.866093,5,93.080952
2,d90a57f64d2a84dbacbed2a5,1,MEDELLIN,4,2,1,NaN,700000.0,NaN,3,...,2.000000e+06,122809.534158,289878.24715,0,0,0,0,100.123276,5,89.637086
3,db34e387a94a783188ab3a33,1,MEDELLIN,3,1,1,NaN,450000.0,NaN,1,...,2.450000e+06,122809.534158,289878.24715,0,0,0,0,108.829812,5,95.584376
4,97bbef785824746ecab09c6f,1,MEDELLIN,4,3,3,NaN,NaN,500000.0,5,...,2.520000e+05,122809.534158,289878.24715,1,0,5,0,110.412859,5,124.560515

In [20]:
train_hogares.shape

(164960, 23)

Variables